.map {
  width: 470px;
  margin-bottom: 30px;

  .path-container {
    path,
    polygon {
      opacity: 1;
      cursor: pointer;
    }
  }
}

#WA-path {
  fill: $map-wa;
}
#VIC-path {
  fill: $map-vic;
}
#NT-path {
  fill: $map-nt;
}
#SA-path {
  fill: $map-sa;
}
#NSW-path {
  fill: $map-nsw;
}
#QLD-path {
  fill: $map-qld;
}
#TAS-path {
  fill: $map-tas;
}
