@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&family=Source+Serif+Pro:wght@400;600;700&display=swap");
@font-face {
  font-family: "Helvetica Neue";
  src: url("./../fonts/HelveticaNeue.woff") format("woff"), url("./../fonts/HelveticaNeue.woff2") format("woff2"), url("./../fonts/HelveticaNeue.ttf") format("truetype"); }

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

:focus {
  outline: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box; }

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

a:focus {
  outline: thin dotted; }

a:active,
a:hover {
  outline: 0; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal;
  *margin-left: -7px; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer;
  *overflow: visible; }

button[disabled],
html input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *height: 13px;
  *width: 13px; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html,
button,
input,
select,
textarea {
  color: #222; }

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

img {
  vertical-align: middle; }

fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

textarea {
  resize: vertical; }

html {
  scroll-behavior: smooth; }

body {
  box-sizing: border-box; }

a {
  text-decoration: none;
  color: inherit; }

body {
  font-family: "Source Serif Pro", serif;
  position: relative;
  color: #25282b !important; }

.container {
  width: 90%;
  margin: 0 auto; }
  @media (min-width: 768px) {
    .container {
      width: 552px; } }
  @media (min-width: 1204px) {
    .container {
      width: 992px; } }
  @media (min-width: 1600px) {
    .container {
      width: 1200px; } }

a {
  color: #5184a1 !important;
  font-weight: 600;
  text-decoration: underline; }

.drop-caps {
  margin-top: 10px;
  padding-right: 10px;
  float: left;
  font-size: 100px;
  line-height: 70px; }

.bold {
  font-weight: 700; }

.m-0 {
  margin: 0 !important; }

.end-section {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px; }
  @media (min-width: 768px) {
    .end-section {
      margin-bottom: 30px; } }
  @media (min-width: 1204px) {
    .end-section.hide-desktop {
      display: none; } }
  .end-section span {
    line-height: 16px;
    margin: 0 10px; }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 24px; }
  @media (min-width: 768px) {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
      margin-bottom: 30px !important; } }

p {
  font-size: 18px;
  line-height: 27px; }

.article-title-text {
  font-size: 30px;
  line-height: 34px;
  font-weight: 700; }
  @media (min-width: 768px) {
    .article-title-text {
      font-size: 42px;
      line-height: 48px; } }

.article-subtitle-text {
  font-weight: 600;
  line-height: 25px; }
  @media (min-width: 768px) {
    .article-subtitle-text {
      font-size: 24px;
      line-height: 33px; } }

.author-name {
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 6px; }

.article-detail-text {
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 0;
  color: #999999; }

.icon-text {
  font-size: 8px;
  line-height: 10px;
  margin: 0;
  color: #25282b; }

.section-title {
  font-size: 30px;
  line-height: 34px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600; }

.float-section-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px !important;
  line-height: 28px; }

.float-section-text {
  font-size: 14px;
  line-height: 18px; }

.copyright-text {
  font-size: 15px;
  line-height: 28px; }

.footer-text {
  font-size: 14px;
  line-height: 24px; }

.header {
  background-color: #ffffff;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08); }
  .header__wrapper {
    display: flex;
    flex-direction: column;
    padding: 13px 0;
    width: 90%;
    margin: 0 auto; }
    @media (min-width: 768px) {
      .header__wrapper {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 90%; } }
    @media (min-width: 1204px) {
      .header__wrapper {
        width: 992px; } }
    @media (min-width: 1600px) {
      .header__wrapper {
        width: 1200px; } }
  .header__logo {
    display: flex;
    justify-content: space-between; }
    .header__logo > img {
      height: 30px; }
      @media (min-width: 768px) {
        .header__logo > img {
          height: 40px;
          margin-right: 20px; } }
  .header__action {
    margin-top: 1rem;
    display: flex; }
    @media (min-width: 768px) {
      .header__action {
        margin: 0; } }

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px; }
  .nav__footer ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    .nav__footer ul li {
      margin: 5px 10px; }
      .nav__footer ul li a {
        font-size: 18px;
        font-family: "Helvetica Neue", sans-serif;
        color: #ffffff !important;
        text-decoration: none;
        line-height: 28px; }

.main {
  padding: 24px 0; }
  .main .container {
    width: inherit; }
  @media (min-width: 1204px) {
    .main {
      display: flex;
      align-items: flex-start; }
      .main .container {
        width: 95% !important;
        margin: 0 auto 0 0; } }

.footer {
  background-color: #19263f;
  color: #ffffff;
  font-family: "Helvetica Neue", sans-serif; }
  .footer p {
    text-align: center;
    margin-bottom: 24px; }
  .footer__wrapper {
    padding: 24px 0; }

.btn {
  box-sizing: border-box;
  width: 100% !important;
  text-align: center;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 4px;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px !important;
  line-height: 20px;
  font-weight: 600;
  color: #25282b !important; }
  .btn--header {
    border: 1.5px solid #fdb600;
    font-size: 14px;
    font-weight: 700 !important; }
    @media (min-width: 768px) {
      .btn--header {
        background-color: #fdb600;
        padding: 12px 30px; } }
  .btn--primary {
    background-color: #fdb600; }
  .btn--secondary {
    color: #ffffff !important;
    background-color: #5184a1;
    border: 1px solid #5184a1;
    flex-basis: 22%;
    flex-grow: 0;
    flex-shrink: 1; }
    @media (min-width: 768px) {
      .btn--secondary {
        flex-basis: 12%; } }
    @media (min-width: 1204px) {
      .btn--secondary {
        flex-basis: 22%; } }
  .btn--small {
    line-height: 22px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 0;
    padding-right: 0; }
  .btn--icon {
    display: flex;
    align-items: center;
    font-weight: 600;
    padding: 12px 24px; }
    .btn--icon__img {
      width: 28px;
      height: 28px;
      margin-right: 1.2rem; }
  .btn--map {
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    width: 350px !important; }

.map {
  width: 400px;
  margin-bottom: 30px; }
  .map-text {
    font-weight: 700;
    fill: #ffffff;
    font-size: 18px;
    line-height: 22px;
    cursor: pointer; }
  .map .path-container path,
  .map .path-container polygon {
    opacity: 1;
    cursor: pointer; }

#WA-path {
  fill: #5184a1; }

#VIC-path {
  fill: #355f77; }

#NT-path {
  fill: #315b73; }

#SA-path {
  fill: #234a60; }

#NSW-path {
  fill: #1d4861; }

#QLD-path {
  fill: #173546; }

#TAS-path {
  fill: #003756; }

@media (min-width: 1204px) {
  .article {
    flex: 1; }
    .article__content__wrapper {
      width: 552px; } }

.article__layout {
  display: flex;
  flex-direction: column; }
  @media (min-width: 1204px) {
    .article__layout {
      flex-direction: row;
      align-items: flex-start; } }

.article__wrapper {
  display: flex;
  flex-direction: column; }

.article__detail {
  display: flex;
  justify-content: space-between;
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 12px; }
  @media (min-width: 1204px) {
    .article__detail {
      flex-direction: column;
      align-items: flex-start;
      flex: 200px 0 0;
      margin-right: 24px; } }
  .article__detail__author {
    display: flex;
    align-items: center; }
    @media (min-width: 1204px) {
      .article__detail__author {
        align-items: flex-start; } }
    .article__detail__author .author-avatar {
      background-color: #e9e9e9;
      width: 56px !important;
      height: 56px !important;
      border-radius: 50%;
      margin-right: 1rem;
      overflow: hidden;
      flex-shrink: 0; }
      .article__detail__author .author-avatar img {
        width: 100%; }
    .article__detail__author .author-profile {
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 100%; }
  .article__detail__share {
    display: flex;
    justify-content: center;
    align-items: center; }
    @media (min-width: 1204px) {
      .article__detail__share {
        margin-top: 20px; } }
    .article__detail__share .share-icon-wrapper {
      display: flex; }
      .article__detail__share .share-icon-wrapper > p {
        display: none; }
        @media (min-width: 768px) {
          .article__detail__share .share-icon-wrapper > p {
            display: block; } }
      .article__detail__share .share-icon-wrapper .share-icon {
        width: 32px;
        height: 32px;
        justify-content: center;
        align-items: center;
        background-color: #f8f8f8;
        border-radius: 50%;
        display: none;
        margin-left: 10px; }
        @media (min-width: 768px) {
          .article__detail__share .share-icon-wrapper .share-icon {
            display: flex; } }
      .article__detail__share .share-icon-wrapper .share-icon-mobile {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-decoration: none; }
        @media (min-width: 768px) {
          .article__detail__share .share-icon-wrapper .share-icon-mobile {
            display: none; } }
      .article__detail__share .share-icon-wrapper .icon {
        height: 18px;
        width: auto;
        margin-bottom: 4px; }
        @media (min-width: 768px) {
          .article__detail__share .share-icon-wrapper .icon {
            height: 14px; } }

.article__banner {
  height: 200px;
  margin: 12px 0 24px 0; }
  @media (min-width: 768px) {
    .article__banner {
      height: 340px;
      margin: 24px auto 32px auto; } }
  @media (min-width: 1204px) {
    .article__banner {
      margin-top: 0; } }
  .article__banner img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    -o-object-position: center;
       object-position: center; }

.float-section {
  position: relative;
  margin-bottom: 24px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.1);
  font-family: "Source Sans Pro", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0; }
  .float-section__wrapper {
    text-align: center;
    position: relative;
    width: 90%; }

.property-selection {
  position: relative;
  left: -5vw;
  width: 100vw; }
  @media (min-width: 768px) {
    .property-selection {
      position: inherit;
      width: 450px;
      margin: 0 auto 30px auto; } }
  @media (min-width: 1204px) {
    .property-selection {
      width: 80%; } }
  .property-selection__action {
    display: flex;
    flex-direction: column; }
    .property-selection__action > a:not(:last-child) {
      margin-bottom: 10px; }

@media (min-width: 768px) {
  .age-selection {
    width: 100%;
    margin: 0 auto 30px auto; } }

@media (min-width: 1204px) {
  .age-selection {
    display: none; } }

.age-selection.show-desktop {
  display: none; }
  @media (min-width: 1204px) {
    .age-selection.show-desktop {
      position: relative;
      display: block;
      width: 300px;
      margin: 0;
      padding: 10px; }
      .age-selection.show-desktop > * {
        width: 100%; } }

.age-selection .line {
  position: absolute;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #e9e9e9; }

.age-selection__action {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 48px; }
  .age-selection__action .btn {
    margin-bottom: 10px; }

.area-selection {
  position: relative;
  left: -5vw;
  width: 100vw; }
  @media (min-width: 768px) {
    .area-selection {
      position: inherit;
      width: 100%;
      margin: 0 auto 30px auto; } }
  .area-selection__action {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
    @media (min-width: 768px) {
      .area-selection__action {
        display: none; } }
    .area-selection__action .btn {
      flex-basis: 20%;
      margin: 5px; }
  .area-selection__map {
    display: none; }
    @media (min-width: 768px) {
      .area-selection__map {
        display: flex;
        flex-direction: column;
        align-items: center; } }
    .area-selection__map .btn {
      margin-top: 30px !important; }
