body {
  font-family: $source-serif-pro;
  position: relative;
  color: $black !important;
}

.container {
  width: 90%;
  margin: 0 auto;

  @include breakpoint(tablet) {
    width: 552px;
  }

  @include breakpoint(desktop) {
    width: 992px;
  }

  @include breakpoint(HD) {
    width: 1200px;
  }
}

a {
  color: $blue-1 !important;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}

.drop-caps {
  margin-top: 10px;
  padding-right: 10px;
  float: left;
  font-size: 100px;
  line-height: 70px;
}

.bold {
  font-weight: 700;
}

.m-0 {
  margin: 0 !important;
}

.end-section {
  text-align: center;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 24px;

  @include breakpoint(tablet) {
    margin-bottom: 30px;
  }

  @include breakpoint(desktop) {
    &.hide-desktop {
      display: none;
    }
  }

  span {
    line-height: 16px;
    margin: 0 10px;
  }
}
