h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 24px;

  @include breakpoint(tablet) {
    margin-bottom: 30px !important;
  }
}

p {
  font-size: 18px;
  line-height: 27px;
}

.article-title-text {
  font-size: 30px;
  line-height: 34px;
  font-weight: 700;

  @include breakpoint(tablet) {
    font-size: 42px;
    line-height: 48px;
  }
}

.article-subtitle-text {
  font-weight: 600;
  line-height: 25px;

  @include breakpoint(tablet) {
    font-size: 24px;
    line-height: 33px;
  }
}

.author-name {
  line-height: 20px;
  font-size: 16px;
  margin-bottom: 6px;
}

.article-detail-text {
  line-height: 20px;
  font-size: 14px;
  margin-bottom: 0;
  color: $grey-3;
}

.icon-text {
  font-size: 8px;
  line-height: 10px;
  margin: 0;
  color: $black;
}

.section-title {
  font-size: 30px;
  line-height: 34px;
  font-family: $source-sans-pro;
  font-weight: 600;
}

.float-section-title {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 8px !important;
  line-height: 28px;
}

.float-section-text {
  font-size: 14px;
  line-height: 18px;
}

.copyright-text {
  font-size: 15px;
  line-height: 28px;
  font-family: $helvetica-neue;
}

.footer-text {
  font-size: 14px;
  line-height: 24px;
  font-family: $source-sans-pro;
}

.map-text {
  font-weight: 700;
  fill: $white;
  font-size: 18px;
  line-height: 22px;
  cursor: pointer;
  font-family: $proxima-nova;

  &--small {
    font-size: 13px !important;
  }
}
